body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.form-container h2 {
    color: #3498db;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    color: #1067a1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-body {
    background: linear-gradient(to bottom right, rgb(122, 145, 221), rgb(144, 64, 235));
    color: #25839b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-body {
    background: linear-gradient(to bottom right, rgb(122, 145, 221), rgb(144, 64, 235));

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-body {
    padding: 5px;
    background: linear-gradient(to bottom right, rgb(122, 145, 221), rgb(144, 64, 235));
}

.welcome-message {
    background-color: rgb(144, 64, 235);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}


